@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" align="center">Car Rental System</h1>
        <h3 align="center">Rent Your Dream Car</h3>
        <p class="lead" align="center"> We Provide Best Cars With Prices.We Are Expert in Car Rental.Enjoy Your Holidays With Us.</p>
        <p class="lead" align="center">We Make Your Drive Memorable. We Care for your Safety.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    
</main>